.theme-dbgate-plugin-catppuccin-mocha {
  --theme-font-1: var(--ctp-mocha-subtext0);
  --theme-font-2: var(--ctp-mocha-subtext1);
  --theme-font-3: var(--ctp-mocha-overlay0);
  --theme-font-4: var(--ctp-mocha-subtext1);
  --theme-font-hover: rgba(var(--ctp-mocha-blue-rgb), 0.7);
  --theme-font-link: var(--ctp-mocha-blue);
  --theme-font-alt: var(--ctp-mocha-green);
  --theme-bg-0: var(--ctp-mocha-crust);
  --theme-bg-1: var(--ctp-mocha-base);
  --theme-bg-2: var(--ctp-mocha-mantle);
  --theme-bg-3: var(--ctp-mocha-base);
  --theme-bg-4: var(--ctp-mocha-base);
  --theme-bg-alt: var(--ctp-mocha-mantle);
  --theme-bg-gold: rgba(var(--ctp-mocha-yellow-rgb), 0.25);
  --theme-bg-orange: rgba(var(--ctp-mocha-peach-rgb), 0.25);
  --theme-bg-green: rgba(var(--ctp-mocha-green-rgb), 0.4);
  --theme-bg-volcano: rgba(var(--ctp-mocha-red-rgb), 0.25);
  --theme-bg-red: rgba(var(--ctp-mocha-maroon-rgb), 0.25);
  --theme-bg-blue: rgba(var(--ctp-mocha-blue-rgb), 0.25);
  --theme-bg-magenta: rgba(var(--ctp-mocha-mauve-rgb), 0.25);
  --theme-font-inv-1: var(--ctp-mocha-text);
  --theme-font-inv-15: var(--ctp-mocha-subtext1);
  --theme-font-inv-2: var(--ctp-mocha-subtext1);
  --theme-font-inv-3: var(--ctp-mocha-subtext1);
  --theme-font-inv-4: var(--ctp-mocha-subtext1);
  --theme-bg-inv-1: var(--ctp-mocha-crust);
  --theme-bg-inv-2: var(--ctp-mocha-crust);
  --theme-bg-inv-3: var(--ctp-mocha-crust);
  --theme-bg-inv-4: var(--ctp-mocha-crust);
  --theme-border: var(--ctp-mocha-surface0);
  --theme-bg-hover: var(--ctp-mocha-surface1);
  --theme-bg-selected: var(--ctp-mocha-surface1);
  --theme-bg-selected-point: var(--ctp-mocha-mauve);
  --theme-bg-statusbar-inv: var(--ctp-mocha-crust);
  --theme-bg-statusbar-inv-hover: var(--ctp-mocha-surface0);
  --theme-bg-statusbar-inv-font: var(--ctp-mocha-subtext0);
  --theme-bg-statusbar-inv-bg: var(--ctp-mocha-crust);
  --theme-bg-modalheader: var(--ctp-mocha-base);
  --theme-bg-button-inv: var(--ctp-mocha-surface1);
  --theme-bg-button-inv-2: var(--ctp-mocha-surface1);
  --theme-bg-button-inv-3: var(--ctp-mocha-surface2);
  --theme-icon-blue: var(--ctp-mocha-blue);
  --theme-icon-green: var(--ctp-mocha-green);
  --theme-icon-red: var(--ctp-mocha-red);
  --theme-icon-gold: var(--ctp-mocha-yellow);
  --theme-icon-yellow: var(--ctp-mocha-peach);
  --theme-icon-magenta: var(--ctp-mocha-mauve);
  --theme-icon-inv-green: var(--ctp-mocha-green);
  --theme-icon-inv-red: var(--ctp-mocha-red);
}

.theme-dbgate-plugin-catppuccin-macchiato {
  --theme-font-1: var(--ctp-macchiato-subtext0);
  --theme-font-2: var(--ctp-macchiato-subtext1);
  --theme-font-3: var(--ctp-macchiato-overlay0);
  --theme-font-4: var(--ctp-macchiato-subtext1);
  --theme-font-hover: rgba(var(--ctp-macchiato-blue-rgb), 0.7);
  --theme-font-link: var(--ctp-macchiato-blue);
  --theme-font-alt: var(--ctp-macchiato-green);
  --theme-bg-0: var(--ctp-macchiato-crust);
  --theme-bg-1: var(--ctp-macchiato-base);
  --theme-bg-2: var(--ctp-macchiato-mantle);
  --theme-bg-3: var(--ctp-macchiato-base);
  --theme-bg-4: var(--ctp-macchiato-base);
  --theme-bg-alt: var(--ctp-macchiato-mantle);
  --theme-bg-gold: rgba(var(--ctp-macchiato-yellow-rgb), 0.25);
  --theme-bg-orange: rgba(var(--ctp-macchiato-peach-rgb), 0.25);
  --theme-bg-green: rgba(var(--ctp-macchiato-green-rgb), 0.4);
  --theme-bg-volcano: rgba(var(--ctp-macchiato-red-rgb), 0.25);
  --theme-bg-red: rgba(var(--ctp-macchiato-maroon-rgb), 0.25);
  --theme-bg-blue: rgba(var(--ctp-macchiato-blue-rgb), 0.25);
  --theme-bg-magenta: rgba(var(--ctp-macchiato-mauve-rgb), 0.25);
  --theme-font-inv-1: var(--ctp-macchiato-text);
  --theme-font-inv-15: var(--ctp-macchiato-subtext1);
  --theme-font-inv-2: var(--ctp-macchiato-subtext1);
  --theme-font-inv-3: var(--ctp-macchiato-subtext1);
  --theme-font-inv-4: var(--ctp-macchiato-subtext1);
  --theme-bg-inv-1: var(--ctp-macchiato-crust);
  --theme-bg-inv-2: var(--ctp-macchiato-crust);
  --theme-bg-inv-3: var(--ctp-macchiato-crust);
  --theme-bg-inv-4: var(--ctp-macchiato-crust);
  --theme-border: var(--ctp-macchiato-surface0);
  --theme-bg-hover: var(--ctp-macchiato-surface1);
  --theme-bg-selected: var(--ctp-macchiato-surface1);
  --theme-bg-selected-point: var(--ctp-macchiato-mauve);
  --theme-bg-statusbar-inv: var(--ctp-macchiato-crust);
  --theme-bg-statusbar-inv-hover: var(--ctp-macchiato-surface0);
  --theme-bg-statusbar-inv-font: var(--ctp-macchiato-subtext0);
  --theme-bg-statusbar-inv-bg: var(--ctp-macchiato-crust);
  --theme-bg-modalheader: var(--ctp-macchiato-base);
  --theme-bg-button-inv: var(--ctp-macchiato-surface1);
  --theme-bg-button-inv-2: var(--ctp-macchiato-surface1);
  --theme-bg-button-inv-3: var(--ctp-macchiato-surface2);
  --theme-icon-blue: var(--ctp-macchiato-blue);
  --theme-icon-green: var(--ctp-macchiato-green);
  --theme-icon-red: var(--ctp-macchiato-red);
  --theme-icon-gold: var(--ctp-macchiato-yellow);
  --theme-icon-yellow: var(--ctp-macchiato-peach);
  --theme-icon-magenta: var(--ctp-macchiato-mauve);
  --theme-icon-inv-green: var(--ctp-macchiato-green);
  --theme-icon-inv-red: var(--ctp-macchiato-red);
}

.theme-dbgate-plugin-catppuccin-frappe {
  --theme-font-1: var(--ctp-frappe-subtext0);
  --theme-font-2: var(--ctp-frappe-subtext1);
  --theme-font-3: var(--ctp-frappe-overlay0);
  --theme-font-4: var(--ctp-frappe-subtext1);
  --theme-font-hover: rgba(var(--ctp-frappe-blue-rgb), 0.7);
  --theme-font-link: var(--ctp-frappe-blue);
  --theme-font-alt: var(--ctp-frappe-green);
  --theme-bg-0: var(--ctp-frappe-crust);
  --theme-bg-1: var(--ctp-frappe-base);
  --theme-bg-2: var(--ctp-frappe-mantle);
  --theme-bg-3: var(--ctp-frappe-base);
  --theme-bg-4: var(--ctp-frappe-base);
  --theme-bg-alt: var(--ctp-frappe-mantle);
  --theme-bg-gold: rgba(var(--ctp-frappe-yellow-rgb), 0.25);
  --theme-bg-orange: rgba(var(--ctp-frappe-peach-rgb), 0.25);
  --theme-bg-green: rgba(var(--ctp-frappe-green-rgb), 0.4);
  --theme-bg-volcano: rgba(var(--ctp-frappe-red-rgb), 0.25);
  --theme-bg-red: rgba(var(--ctp-frappe-maroon-rgb), 0.25);
  --theme-bg-blue: rgba(var(--ctp-frappe-blue-rgb), 0.25);
  --theme-bg-magenta: rgba(var(--ctp-frappe-mauve-rgb), 0.25);
  --theme-font-inv-1: var(--ctp-frappe-text);
  --theme-font-inv-15: var(--ctp-frappe-subtext1);
  --theme-font-inv-2: var(--ctp-frappe-subtext1);
  --theme-font-inv-3: var(--ctp-frappe-subtext1);
  --theme-font-inv-4: var(--ctp-frappe-subtext1);
  --theme-bg-inv-1: var(--ctp-frappe-crust);
  --theme-bg-inv-2: var(--ctp-frappe-crust);
  --theme-bg-inv-3: var(--ctp-frappe-crust);
  --theme-bg-inv-4: var(--ctp-frappe-crust);
  --theme-border: var(--ctp-frappe-surface0);
  --theme-bg-hover: var(--ctp-frappe-surface1);
  --theme-bg-selected: var(--ctp-frappe-surface1);
  --theme-bg-selected-point: var(--ctp-frappe-mauve);
  --theme-bg-statusbar-inv: var(--ctp-frappe-crust);
  --theme-bg-statusbar-inv-hover: var(--ctp-frappe-surface0);
  --theme-bg-statusbar-inv-font: var(--ctp-frappe-subtext0);
  --theme-bg-statusbar-inv-bg: var(--ctp-frappe-crust);
  --theme-bg-modalheader: var(--ctp-frappe-base);
  --theme-bg-button-inv: var(--ctp-frappe-surface1);
  --theme-bg-button-inv-2: var(--ctp-frappe-surface1);
  --theme-bg-button-inv-3: var(--ctp-frappe-surface2);
  --theme-icon-blue: var(--ctp-frappe-blue);
  --theme-icon-green: var(--ctp-frappe-green);
  --theme-icon-red: var(--ctp-frappe-red);
  --theme-icon-gold: var(--ctp-frappe-yellow);
  --theme-icon-yellow: var(--ctp-frappe-peach);
  --theme-icon-magenta: var(--ctp-frappe-mauve);
  --theme-icon-inv-green: var(--ctp-frappe-green);
  --theme-icon-inv-red: var(--ctp-frappe-red);
}

.theme-dbgate-plugin-catppuccin-latte {
  --theme-font-1: var(--ctp-latte-subtext0);
  --theme-font-2: var(--ctp-latte-subtext1);
  --theme-font-3: var(--ctp-latte-overlay0);
  --theme-font-4: var(--ctp-latte-subtext1);
  --theme-font-hover: rgba(var(--ctp-latte-blue-rgb), 0.7);
  --theme-font-link: var(--ctp-latte-blue);
  --theme-font-alt: var(--ctp-latte-green);
  --theme-bg-0: var(--ctp-latte-crust);
  --theme-bg-1: var(--ctp-latte-base);
  --theme-bg-2: var(--ctp-latte-mantle);
  --theme-bg-3: var(--ctp-latte-base);
  --theme-bg-4: var(--ctp-latte-base);
  --theme-bg-alt: var(--ctp-latte-mantle);
  --theme-bg-gold: rgba(var(--ctp-latte-yellow-rgb), 0.25);
  --theme-bg-orange: rgba(var(--ctp-latte-peach-rgb), 0.25);
  --theme-bg-green: rgba(var(--ctp-latte-green-rgb), 0.4);
  --theme-bg-volcano: rgba(var(--ctp-latte-red-rgb), 0.25);
  --theme-bg-red: rgba(var(--ctp-latte-maroon-rgb), 0.25);
  --theme-bg-blue: rgba(var(--ctp-latte-blue-rgb), 0.25);
  --theme-bg-magenta: rgba(var(--ctp-latte-mauve-rgb), 0.25);
  --theme-font-inv-1: var(--ctp-latte-text);
  --theme-font-inv-15: var(--ctp-latte-subtext1);
  --theme-font-inv-2: var(--ctp-latte-subtext1);
  --theme-font-inv-3: var(--ctp-latte-subtext1);
  --theme-font-inv-4: var(--ctp-latte-subtext1);
  --theme-bg-inv-1: var(--ctp-latte-crust);
  --theme-bg-inv-2: var(--ctp-latte-crust);
  --theme-bg-inv-3: var(--ctp-latte-crust);
  --theme-bg-inv-4: var(--ctp-latte-crust);
  --theme-border: var(--ctp-latte-surface0);
  --theme-bg-hover: var(--ctp-latte-surface1);
  --theme-bg-selected: var(--ctp-latte-surface1);
  --theme-bg-selected-point: var(--ctp-latte-mauve);
  --theme-bg-statusbar-inv: var(--ctp-latte-crust);
  --theme-bg-statusbar-inv-hover: var(--ctp-latte-surface0);
  --theme-bg-statusbar-inv-font: var(--ctp-latte-subtext0);
  --theme-bg-statusbar-inv-bg: var(--ctp-latte-crust);
  --theme-bg-modalheader: var(--ctp-latte-base);
  --theme-bg-button-inv: var(--ctp-latte-surface1);
  --theme-bg-button-inv-2: var(--ctp-latte-surface1);
  --theme-bg-button-inv-3: var(--ctp-latte-surface2);
  --theme-icon-blue: var(--ctp-latte-blue);
  --theme-icon-green: var(--ctp-latte-green);
  --theme-icon-red: var(--ctp-latte-red);
  --theme-icon-gold: var(--ctp-latte-yellow);
  --theme-icon-yellow: var(--ctp-latte-peach);
  --theme-icon-magenta: var(--ctp-latte-mauve);
  --theme-icon-inv-green: var(--ctp-latte-green);
  --theme-icon-inv-red: var(--ctp-latte-red);
}



input.isOk {
  background-color: rgba(166, 227, 161, 0.4) !important;
}

:root {
  --dim-widget-icon-size: 55px;
  --dim-statusbar-height: 28px;
  --dim-left-panel-width: 300px;
  --dim-tabs-panel-height: 60px;
  --dim-tabs-height: 33px;
  --dim-splitter-thickness: 1px;

  --dim-visible-left-panel: 1; /* set from JS */
  --dim-content-left: calc(
    var(--dim-widget-icon-size) + var(--dim-visible-left-panel) *
      (var(--dim-left-panel-width) + var(--dim-splitter-thickness))
  );

  --dim-visible-toolbar: 0; /* set from JS */
  --dim-visible-titlebar: 0; /* set from JS */

  --dim-toolbar-height: 30px;
  --dim-toolstrip-height: 28px;
  --dim-titlebar-height: 30px;
  --dim-toolbar-top: calc(var(--dim-titlebar-height) * var(--dim-visible-titlebar));
  --dim-header-top: calc(
    var(--dim-titlebar-height) * var(--dim-visible-titlebar) + var(--dim-toolbar-height) * var(--dim-visible-toolbar)
  );
  --dim-content-top: calc(var(--dim-header-top) + var(--dim-tabs-panel-height));

  --dim-large-form-margin: 20px;
}
.main-container {
}
input {
  outline: none;
  border: 1px solid var(--theme-bg-inv-3) !important;
}
input:focus {
  border: 1px solid var(--theme-bg-selected) !important;
}
.buttonLike {
  outline: none;
}
.buttonLike:hover {
  border-color: transparent !important;
  opacity: 0.8 !important;
}
.iconbar .wrapper {
  cursor: pointer;
  height: 45px;
}

.iconbar .wrapper.selected .mdi,
.iconbar .wrapper:hover .mdi {
  color: var(--theme-font-1);
}
.iconbar .mdi {
  transition: all 300ms;
  font-size: 1.7rem !important;
  color: var(--theme-font-1);
}

/* ace_editor */
.ace_editor {
  font-size: 14px;
}
.ace_editor {
  font-family: 'JetBrainsMono NF SemiBold', 'Fira code', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro',
    monospace;
  background-color: var(--theme-bg-0);
}
.ace_content {
  padding-left: 0;
}
.ace_gutter-layer {
  background: var(--theme-bg-0);
  border-right: 1px solid var(--theme-bg-0);
}
.ace_gutter {
  border-right: 1px solid var(--theme-bg-0);
}
.ace_gutter-cell {
  color: var(--theme-font-1);
}
.ace_folding-enabled > .ace_gutter-cell {
  padding-left: 30px;
}
.theme-type-dark .ace_gutter-cell.ace-gutter-sql-run {
  padding-right: 13px;
}

.horizontal-split-handle:hover,
.vertical-split-handle:hover {
  background-color: var(--theme-bg-selected) !important;
}
.add-icon .mdi {
  color: var(--theme-font-1);
}

.ace_content {
  border-right: 1px solid var(--theme-bg-3);
  border-left: 1px solid var(--theme-bg-3);
}

.file-name.svelte-ks0vy {
  font-size: 12px;
  font-weight: bold;
}

.db-name-inner.svelte-ks0vy {
  font-size: 12px;
  font-weight: bold;
}

.mdi-view-split-vertical::before,
.mdi-plus-circle::before {
  color: var(--theme-font-1);
}

/* action title */
div.svelte-1msuoss {
  background-color: var(--theme-bg-3);
  border: none;
}

div.svelte-1msuoss:hover {
  background-color: var(--theme-bg-3);
}

/* Table */
td.svelte-1do4nz4 {
  color: var(--theme-font-alt);
}
.table.svelte-abhawu {
  font-weight: bold;
  color: var(--theme-font-1);
}
/* number inside table color */
.value.svelte-7yy3rb {
  color: var(--theme-icon-yellow);
}
.null.svelte-7yy3rb {
  color: var(--theme-font-link);
}

.tab-item.svelte-orhipv {
  font-weight: bold;
}

.tab-item.selected.svelte-orhipv {
  background-color: var(--theme-bg-3);
  font-weight: bold;
}

/* tool strip */
.toolstrip.svelte-8bgi65 {
  background-color: var(--theme-bg-0);
  height: 35px;
}
